viikko1/teht1/build
viikko1/teht1/*.user

viikko2/mittari

viikko2/arvauspeli_viikko2/build
viikko2/arvauspeli_viikko2/*.user

viikko3/pankkisovellus
viikko3/harjoittelu

viikko3/italianChef/build
viikko3/italianChef/*.user

viikko4/Pankkitilit/build
viikko4/Pankkitilit/*.user

viikko5/Notifikaattori/build
viikko5/Notifikaattori/*.user

viikko6/test/build
viikko6/test/*.user